@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist Mono';
  src: url('/fonts/GeistMono.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
	color-scheme: dark;

	--color-bg: #0b0b0b;
	--color-text: #ffffff;
	--color-muted: #c7c7c7;
	--color-surface: #121212;
	--color-surface-2: #181818;
	--color-surface-3: #252525;
	--color-border: #353535;
	--color-code-inline-bg: #353535;
	--color-on-primary: #ffffff;

	--bg-letter-rgb: 255, 255, 255;
	--bg-letter-alpha: 0.01;
	--bg-base-opacity: 1;
	--bg-overlay-opacity: 1;
}

:root[data-theme="light"] {
	color-scheme: light;

	--color-bg: #ffffff;
	--color-text: #0b0b0b;
	--color-muted: #5f6368;
	--color-surface: #ffffff;
	--color-surface-2: #f6f6f7;
	--color-surface-3: #f0f0f1;
	--color-border: #e2e2e2;
	--color-code-inline-bg: #f1f2f3;
	--color-on-primary: #ffffff;

	--bg-letter-rgb: 0, 0, 0;
	--bg-letter-alpha: 0.03;
	--bg-base-opacity: 0.6;
	--bg-overlay-opacity: 0.4;
}

/* From https://github.com/withstudiocms/ui */

*,
*::before,
*::after {
	box-sizing: border-box !important;
}

html {
  background-color: var(--color-bg);
	color: var(--color-text);
	transition: background-color 0.15s ease, color 0.15s ease;
}

html,
body {
	margin: 0;
}

body {
	-webkit-font-smoothing: antialiased;
  font-family: 'Geist', Arial, Helvetica, sans-serif;
}

input,
button,
textarea,
select {
	font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
code {
	overflow-wrap: anywhere;
	font-family: 'Geist Mono', 'Courier New', Courier, monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: pretty;
}

button {
	border: none;
	outline: none;
	background: none;
	padding: 0;
}

p:last-of-type {
  margin-bottom: 0;
}

pre, pre *, code {
	font-family: 'Geist Mono', 'Courier New', Courier, monospace;
  line-height: 1;
}

pre {
  border: 1px solid var(--color-border);
  overflow-y: hidden;
  padding: .5rem;
  border-radius: .25rem;
}

pre.astro-code code {
  display: flex;
  flex-direction: column;
  font-size: 0.875em;
  gap: .5rem;
}
